{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Register
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/customize/accounts/login.css' %}">
{% endblock %}

{% block content %}

    <div class="container">

    {% if registered %}
        <strong>Thank you for registering!</strong>
        Return to the <a href="/location/">homepage.</a><br />
    {% else %}
        <strong>Register</strong><br />

        <form id="user_form" method="post" action="/accounts/register/" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}

    <form class="form-signin" id="login_form" method="post" action="/accounts/login/">
        <h2 class="form-signin-heading">Please sign in</h2>

        {% csrf_token %}

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCAncn5gnnt5DSJfAd2D4NjO5o3BOS2K-w"></script>
    <script src="{% static 'build/js/lib/keydragzoom.js' %}"></script>
{% endblock %}